@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    background-color: whitesmoke;
    height: 100vh;
    cursor: default;
}
.header> ul> li> a{
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}
.header>ul>li>a:hover{
    color: black;
    background-color: whitesmoke;
}
.link{
    padding: 0.3em;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
div{
    margin: 0;
}


.opening-container{
    background-image: url('./images/hero.jpg');
    background-size: cover;
    height: 100vh;
}
.hero-container{
    background-color: rgba(0, 0, 0, 0.173);
    height: 100vh;
    width: 100vw;
}

.header{
    width: 100vw;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    padding-top: 1em;
    position: sticky;
}

.header > ul{
    list-style-type: none;
    display: flex;
    gap: 3vw;
}
.header-link{
    transition: all 0.3s;
    padding: 0.5em;
    cursor: pointer;
}
.opening-text{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 5em;
    color: whitesmoke;
    font-family: 'roboto',sans-serif;
    font-weight: 900;
    transition: all 1s;
}
.logo:hover{
    color: black;
}

.logo-sub-text{
    font-size: 2em;
    color: #e3e3e3;
    font-family: 'roboto',sans-serif;
    margin-top: 1.3em;
    transition: all 1s;
    
}
.logo-sub-text > a{
    text-decoration: none;
    color: #e3e3e3;
}
.logo-sub-text>a:hover{
    color: yellowgreen;
}

.info-element{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    font-family: 'roboto';
    height: 100vh;
    width: 100vw;
    margin-bottom: 2vh;
}

.info-image{
    height: 97vh;
    width: 50vw;
    object-fit: cover;
}
.title{
    color: #6a603b;
    font-size: 2em;
}
.info-text{
    padding: 2em;
    width: 50vw;
    font-size: 0.7em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    color: rgb(67, 66, 66);
    line-height: 40px;
}


#preserving{
    display: flex;
    border-top: 10px solid rosybrown;
    height: 150vh;
}
#preserving-img{
    width: 30vw;
    height: 100%;
    object-fit: cover;
}
.preserving-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    padding: 3em;
    margin-left: 1em; 
    margin-top: 1.5em;
}
.preserving-text-sub{
    font-size: 1.5em;
    color: rgb(67, 66, 66);
}
.preserving-text-sub > ul {
    font-family: 'roboto',sans-serif;
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 40px;
}
.preserving-text-sub>ul>li{
    line-height: 40px;
    font-size: 0.8em;
}


